<button (click)="openDialog()" class="add-button" id="add-button">
  <span>+</span>
</button>

<div class="allMenu">
  <ul class="ul">
    <li><a>Home</a></li>
    <li><a>Info</a></li>
    <li><a>Portfolio</a></li>
    <li><a>The Team</a></li>
  </ul>
  <div class="Menu2">
    <svg version="1.1" id="menulogo" x="0px" y="0px"
      width="40px" height="36px" viewBox="0 0 40 36" enable-background="new 0 0 40 40" xml:space="preserve">
      <rect class="rect1" fill="#FFF" width="40" height="5.392"/>
      <rect class="rect2" x="0" y="12" fill="#FFF" width="40" height="5.393" />
      <rect class="rect3" x="0" y="24" fill="#FFF" width="40" height="5.393"/>
    </svg>
    <div class="Menu">
    </div>
  </div>
</div>
<section id="home" data-type="background" data-speed="10">                              
  <div class="header">
  </div>
</section>
