form {
	max-width: 800px;
	margin: auto;
	text-align: center;
}

input[type=text], input[type=url] {
	padding: 10px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #ccc;
  margin-bottom: 24px;
}

.drag-drop {
	padding: 20px;
	border: 2px dashed #ccc;
	border-radius: 5px;
	text-align: center;
	position: relative;
	background-color: #f1f1f1;
	color: #333;
  width: 100%;
}

.drag-drop label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
	color: #555;
}

.drag-drop input[type=file] {
	display: none;
}

.drag-drop span {
	display: block;
	font-size: 14px;
	color: #777;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  margin-top: 24px;
}

input[type=submit]:hover {
	background-color: #3e8e41;
}

#preview {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}

.preview-image {
	margin: 10px;
	flex: 1 1 300px;
	position: relative;
	background-color: #f9f9f9;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.preview-image img {
	max-width: 100%;
	height: auto;
}

.preview-image a {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

.preview-image a:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 600px) {
	input[type=text], input[type=url] {
		max-width: 100%;
	}

	.preview-image {
		flex: 1 1 100%;
	}
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

.modalForm {
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	position: fixed;
	background-color: white;
	left: 25%;
	width: 50%;
	top: 20%;
	border-radius: 10px;
}